body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    max-width: 80%;
}

h1 {
    color: #377b77;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #def2f1;
}

#container {
    max-width: 80%;
    margin: 50px auto;
}

#container1 {
    max-width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.flower {
    width: 33.333333333333%;
    float: left;
    text-align: center;
    display: inline-block;
}

img {
    display: inline-block;
    height: 200px;
    border: 5px solid ghostwhite;
    box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 grey;
    margin: 10px;
    transition: 0.5s;
}

img:hover {
    transform: scale(1.2, 1.2);
}

.flower>a {
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

.flower>a:hover {
    text-decoration: underline;
    color: #ee8b79;
}

h2 {
    display: block;
    text-align: center;
}

h3 {
    padding-left: 50px;
}

p {
    font-size: 18px;
}

#Back {
    padding: 5px;
    background-color: #def2f1;
    font-weight: bold;
    height: 20px;
    text-align: center;
    width: 70px;
    border: 2px solid #52afa9;
    text-decoration: none;
    color: black;
}