body {
    margin: 0;
    background-color: #f7f9fa;
}

a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#intro {
    background-color: #5a5186;
    height: 35px;
    width: 100%;
    margin-top: 0;
}

#intro p {
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 35px;
    padding-left: 50px;
}

div#menu {
    height: 65px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 15px;
    background-color: white;
}

img#logo {
    float: left;
    height: 30px;
}

#menu div {
    margin-left: 30px;
    float: left;
    height: 30px;
    line-height: 30px;
}

#menu div:last-child {
    float: right
}

#menu a {
    color: #010101;
    text-decoration: none;
    font-size: 14px;
}

#menu a:hover,
#menu a.active {
    color: #754ea0;
    text-decoration: none;
}

#banner,
#bestsellers {
    width: 100%;
}

div#list {
    background-color: #f7f9fa;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

div.product {
    display: inline-block;
    background-color: white;
    height: 500px;
    width: 20%;
    margin: 15px;
    text-align: center;
    float: left;
}

#list img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    float: none;
}

#list span {
    font-weight: 600;
    font-size: 14px;
}

div.shoppingbag {
    height: 30px;
    width: 120px;
    border: 1px solid black;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
}

div#chat {
    position: fixed;
    bottom: 80px;
    right: 15px;
    width: 110px;
    height: 45px;
    border-radius: 30%;
    background-color: #685BC7;
}

#chat img {
    height: 30px;
}

#chat span {
    text-transform: uppercase;
    color: white;
}

div.detail {
    float: left;
    width: 15%
}

#general-detail {
    background-color: #f7f9fa;
    padding: 20px
}

#general-detail:after {
    display: table
}