#intro {
    background-color: #5a5186;
    height: 35px;
    padding-left: 50px;
}

#intro p {
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 35px;
}

div#menu {
    height: 65px;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
}

img#logo {
    float: left;
    height: 30px;
}

#menu div {
    margin-left: 30px;
    float: left;
}

#menu div:last-child {
    float: right
}

#menu img.icon {
    width: 30px;
}

#menu a {
    color: #b2b2b2;
    text-decoration: none;
}

#menu a:hover,
#menu a.active {
    color: #754ea0;
    text-decoration: none;
}

h1 {
    font-family: sans-serif;
    font-size: 25px;
    color: #010101;
    text-align: center;
}

p {
    font-family: sans-serif;
}

div.product {
    float: left;
    width: 20%;
    text-align: center
}

div.productsection {
    height: 480px;
    margin: 50px
}

div.productsection:after {
    display: table
}

div.shoppingbag {
    height: 30px;
    width: 120px;
    border: 1px solid black;
    border-radius: 5px;
    line-height: 30px;
    display: inline-block;
}

div#info {
    float: left;
    width: 27%;
    text-align: center;
    margin: 10px
}

#info img {
    height: 300px
}

div#info:after {
    display: table
}

#detail div {
    float: left;
    width: 15%
}

div#detail:after {
    display: table
}