#intro {
    background-color: #5a5186;
    height: 35px;
    padding-left: 50px;
}

#intro p {
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 35px;
}

div#main-menu {
    height: 65px;
}

#menu a:hover,
#menu a.active {
    color: #754ea0;
}

img#logo {
    float: left;
    height: 40px
}

#main-menu a {
    color: #b2b2b2;
}

h1 {
    font-family: sans-serif;
    font-size: 25px;
    text-decoration-color: #222629;
    text-align: center
}

p {
    font-family: sans-serif;
}

div.product {
    float: left;
    width: 25%;
    text-align: center
}

div.productsection {
    height: 480px;
    border: 30px solid white;
    margin: 50px
}

div.productsection:after {
    display: table
}

div.shoppingbag {
    height: 30px;
    width: 120px;
    border: 1px solid black;
    border-radius: 5px;
    line-height: 30px;
}