body {
    margin: 0;
}

#vertical-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    display: inline-block;
    border-right: 2px dotted darkblue;
}

#MWlogo {
    width: 200px;
}

.main-nav {
    width: 200px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

#container {
    background-image: url("../position/image/7b3d290fb0cce26152f4de200bfb6d61.jpg");
    display: block;
}

#container>div {
    width: 200px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

#content {
    display: inline-block;
    width: 100%;
    background-color: #edf3f8;
    position: absolute;
    top: 0;
    left: 200px;
}

#back-to-top span {
    font-size: 30px;
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    background-image: linear-gradient( #f6d2df, #d8b5fe)
}

#back-to-top:hover {
    border: 2px solid #a1c7f3
}