body {
    margin: 0;
}

#vertical-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    display: inline-block;
    border-right: 2px dotted lightpink;
}

#MWlogo {
    width: 200px;
}

.main-nav {
    width: 200px;
    height: 53px;
    text-align: center;
    line-height: 53px;
    font-size: 17px;
    font-weight: bold;
    color: #f2b1bb;
    font-family: cursive;
}

.main-nav:hover {
    color: black;
}

#container {
    background-image: url("../position/image/7b3d290fb0cce26152f4de200bfb6d61.jpg");
    display: block;
}

#container>div {
    width: 200px;
    height: 53px;
    text-align: center;
    line-height: 53px;
    font-family: cursive;
    font-size: 17px;
    font-weight: 600;
    color: white;
}

#container>div:hover {
    color: grey;
}

#content {
    display: inline-block;
    width: 100%;
    padding-left: 202px;
}

#banner {
    height: 50px;
    display: block;
    margin: 0 auto;
    float: none;
}

#title {
    display: block;
    margin: 0 auto;
    float: none;
}

#first-intro {
    margin-left: 15%;
    margin-right: 15%;
    border: 5px double #b7dbf1;
    padding: 20px;
    font-family: sans-serif;
}

.step {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 30%;
    border: 2px solid #d2f6f2;
    padding: 20px;
    height: 500px;
}

.step>div {
    display: inline-block;
    float: left;
    width: 25%;
    background-color: lightsalmon;
    margin: 10px;
}

#back-to-top span {
    font-size: 30px;
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    text-align: center;
    line-height: 50px;
    background-image: linear-gradient( #f6d2df, #d8b5fe)
}

#back-to-top:hover {
    border: 2px solid #a1c7f3
}